{% extends 'base.html.twig' %}

{% block title %}
    Request Forms
{% endblock %}


{% block content %}
    <div class="page-title">
        <h1>Request forms</h1>
    </div>

    {{ form_start(filterForm) }}
    <table class="filter">
        <thead>
        <tr>
            <th>Filter by date</th>
            <th>by Type</th>
            <th>by Decision</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td valign="center">
                <div class="input-daterange input-group" id="datepicker">
                {{ form_widget(filterForm.start) }}
                <span class="input-group-addon">to</span>
                {{ form_widget(filterForm.end) }}
                </div>
            </td>
            <td>
                {{ form_widget(filterForm.type) }}
            </td>
            <td>
                {{ form_widget(filterForm.decision) }}
            </td>
            <td>
                {{ form_widget(filterForm.Search) }}
            </td>
        </tr>
        </tbody>
    </table>
    {{ form_end(filterForm) }}

    {% if formRequests|length %}
    <table class="request-table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Intern Name</th>
            <th>Request type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for formRequest in formRequests %}
            <tr id="{{ formRequest.id }}">
                <td>
                    {{ formRequest.createdAt | date('m/d/Y') }}
                </td>
                <td>
                    {{ formRequest.user.lastName }}
                    {{ formRequest.user.firstName }}
                </td>
                <td>
                    {{ formRequest.type | capitalize }}
                </td>
                <td>
                    {% if formRequest.status == 'pending' %}
                        <button class="btn accept"></button>
                        <button class="btn reject"></button>
                    {% else %}
                        {{ formRequest.status | capitalize }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        {{ knp_pagination_render(formRequests) }}
    </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        $(".input-daterange").datepicker({
            clearBtn: true
        });
        $('document').ready(function () {
            $('tr button').click(function() {
                if (confirm("Are you really want to approve/reject?")){
                    console.log(this.parentNode.parentNode.id);
                    var id = this.parentNode.parentNode.id;
                    var request = $.ajax({
                        url: "{{ path('form_approve') }}",
                        method: "PUT",
                        data: { status : 'approved', 'id': id },
                        dataType: "html"
                    });

                    request.done(function(response) {
                       alert(response);
                    });

                    request.fail(function( jqXHR, textStatus ) {
                        alert( "Request failed: " + textStatus );
                    });
                } else {
                    return false;
                }
            })
        });
    </script>
{% endblock %}
