{% extends 'base.html.twig' %}

{% block title %}
    Surveys
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css" />
{% endblock %}

{% block content %}

    <div class="page-title">
        <h1>Surveys</h1>
    </div>

    {{ form_start(filterForm) }}
    <table class="filter pull-left">
        <thead>
        <tr>
            <th>Filter by date</th>
            <th>by Type</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td valign="center">
                <div class="input-daterange input-group" id="datepicker">
                    {{ form_widget(filterForm.start) }}
                    <span class="input-group-addon">to</span>
                    {{ form_widget(filterForm.end) }}
                </div>
            </td>
            <td>
                {{ form_widget(filterForm.type) }}
            </td>
            <td>
                <button type="submit">Filter</button>
            </td>
        </tr>
        </tbody>
    </table>
    {{ form_end(filterForm) }}
    <div class="dropdown pull-right">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            New Survey
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            {% for type in types %}
                <li><a href="{{ path('survey_create', {'survey_type': type.getName }) }}">{{ type.getName|capitalize }} Survey</a></li>
            {% endfor %}
        </ul>
    </div>
    {% for type in types %}
        {% if type.surveys is not empty %}
        <table class="request-table table-striped">
        <caption>{{ type.name | capitalize }} surveys</caption>
        <thead>
        <tr>
            <th>Date Submitted</th>
            <th>Intern Name</th>
        </tr>
        </thead>
        <tbody>
        {% for survey in surveys %}
            {% if type == survey.type %}
                <tr>
                    <td>
                        <time datetime="{{ survey.getUpdatedAt|date('c') }}">{{ survey.updatedAt|date("m/d/Y") }}</time>
                    </td>
                    <td>
                        {{ survey.user.firstname }} {{ survey.user.lastname }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        </table>
        {% endif %}
    {% endfor %}
    <ul class="pager">
        {{ knp_pagination_render(surveys) }}
    </ul>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
    <script>
        $('.input-daterange').datepicker({
        });
    </script>
{% endblock %}