{% extends 'default/index.html.twig' %}

{% block title %}
    Users
{% endblock %}

{% block content %}
    <h1>
        Users
        <small>
            <a href="{{ path('add_user') }}" class="pull-right">
                <i class="fa fa-plus"></i>
                Add
            </a>
        </small>
    </h1>

    <div class="row">
        <table class="table">
            <tr>
                <th>
                    #
                </th>
                <th>
                    Username
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Status
                </th>
                <th>
                    Actions
                </th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>
                        {{ user.id }}
                    </td>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.lastName }}
                    </td>
                    <td>
                        {{ user.firstName }}
                    </td>
                    <td>
                        <a href="{{ path('activate_user', {'id': user.id}) }}">
                        {% if user.isenabled %}
                            <i class="fa fa-check-circle"></i>
                        {% else %}
                            <i class="fa fa-times-circle"></i>
                        {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('edit_user', {'id': user.id}) }}">
                            <i class="fa fa-pencil"></i>edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <ul class="pager">
        {{ knp_pagination_render(users) }}
    </ul>
{% endblock %}
