{% extends 'default/index.html.twig' %}

{% block title %}
    Users
{% endblock %}

{% block content %}
    <h1>
        Users
    </h1>
    <div>
        <form method="get" class="filters">
            <i class="fa fa-filter" aria-hidden="true"></i>
            <select name="order">
                <option {% if app.request.get('order') == 'desc' or not app.request.get('order') %}selected{% endif %} value="desc">
                    desc
                </option>
                <option {% if app.request.get('order') == 'asc' %} selected {% endif %} value="asc">
                    asc
                </option>
            </select>
            <input name="name" placeholder="find">
            <button type="submit">
                <i class="fa fa-search " aria-hidden="true"></i> Search
            </button>
        </form>
            <a href="{{ path('add_user') }}" class="pull-right">
                <i class="fa fa-plus"></i>
                Add
            </a>
    </div>
    <div class="row">
    {% if users|length %}
        <table class="table">
            <tr>
                <th>
                    #
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Registration date
                </th>
                <th>
                    Status
                </th>
                <th>
                    Actions
                </th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>
                        {{ user.id }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.lastName | capitalize }}
                    </td>
                    <td>
                        {{ user.firstName | capitalize }}
                    </td>
                    <td>
                        {{ user.createdAt | date('m/d/Y') }}
                    </td>
                    <td>
                        {% if activationForm[user.id] is defined %}
                            {{ form_start(activationForm[user.id]) }}
                            {{ form_end(activationForm[user.id]) }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('edit_user', {'id': user.id}) }}">
                            <i class="fa fa-pencil"></i>edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <ul class="pager">
            {{ knp_pagination_render(users) }}
        </ul>
    {% else %}
        <h1>
            Nothing found
        </h1>
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('document').ready(function () {
            $('.activate').click(function() {
               if (confirm("Are you really want to activate/deactivate user?"))
                   this.parentNode.parentNode.submit();
                else
                    return false;
            })
        });
    </script>
{% endblock %}
