<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- FAVICON -->

        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('img/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon-16x16.png') }}">
        <link rel="manifest" href="img/manifest.json">


        <link rel="stylesheet" href="{{ asset('/css/app.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/fonts/font-awesome.css') }}">
        {% block stylesheets %}{% endblock %}

        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
    {% if app.user %}
        {% include '@App/base/navigation.html.twig' %}
    {% endif %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
        <script src="{{ asset('/js/app.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
