<header>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img src="{{ asset('/img/SS_logo.jpeg') }}">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="{{ 'homepage' in app.request.get('_route') ? 'active' : '' }}">
                    <a href="{{ path('homepage') }}">Dashboard</a>
                </li>
                <li class="{{ 'calendar' in app.request.get('_route') ? 'active' : '' }}">
                    <a href="{{ path('calendar') }}">Schedules</a>
                </li>
                <li class="{{ 'form_request_list' in app.request.get('_route') ? 'active' : '' }}">
                    <a href="{{ path('form_request_list') }}">Request forms</a>
                </li>
                <li class="{{ 'survey' in app.request.get('_route') ? 'active' : '' }}">
                    <a href="{{ path('surveys') }}">Surveys</a>
                </li>
                <li class="{{ 'users_list' in app.request.get('_route') ? 'active' : '' }}
                           {{ 'add_user' in app.request.get('_route') ? 'active' : '' }}
                           {{ 'edit_user' in app.request.get('_route') ? 'active' : '' }}">
                    <a href="{{ path('users_list') }}">Users</a>
                </li>
                <li class="{{ 'admin_info' in app.request.get('_route') ? 'active' : '' }}">
                    <a href="{{ path('admin_info') }}">Hi, {{ app.user.userName }}</a>
                </li>
                <a href="{{ path('logout') }}">Sign out</a>
                <button class="btn btn-primary navbar-btn">Button</button>
            </ul>
        </div>
    </nav>
</header>
