{% extends 'base.html.twig' %}

{% block title %}
    Request Forms
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css" />
{% endblock %}

{% block content %}
    <h1>
        Request Forms
    </h1>
    {{ form_start(filterForm) }}
        <div class="input-daterange input-group" id="datepicker">
            {{ form_widget(filterForm.start) }}
            <span class="input-group-addon">to</span>
            {{ form_widget(filterForm.end) }}
        </div>
    {{ form_end(filterForm) }}
    <div class="row">
        {% if formRequests|length %}
            <table class="table">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Intern Name
                    </th>
                    <th>
                        Request Type
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                {% for formRequest in formRequests %}
                    <tr>
                        <td>
                            {{ formRequest.createdAt | date('m/d/Y') }}
                        </td>
                        <td>
                            {{ formRequest.user.lastName }}
                            {{ formRequest.user.firstName }}
                        </td>
                        <td>
                            {{ formRequest.type | capitalize }}
                        </td>
                        <td>
                            {% if formRequest.status == 'pending' %}
                                {% if approveForms[formRequest.id] %}
                                    {{ form(approveForms[formRequest.id]) }}
                                {% endif %}
                            {% else %}
                                {{ formRequest.status | capitalize }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <ul class="pager">
                {{ knp_pagination_render(formRequests) }}
            </ul>
        {% else %}
            <h1>
                Nothing found
            </h1>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
    <script>
        $('.input-daterange').datepicker({
        });
        $('document').ready(function () {
            $('input[type=radio]').click(function() {
                if (confirm("Are you really want to approve/reject?")){
                    this.parentNode.parentNode.parentNode.parentNode.submit();
                } else {
                    return false;
                }
            })
        });
    </script>
{% endblock %}